<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Quotes</h4>
      <div class="quote">
        <div *ngFor='let quote of quote'>
          <li>{{quote.name}}</li>
          <button type="button" class="btn btn-warning">Read More</button>
        </div>
        <br>
        <button class="btn btn-button bg-success" value="ADD">ADD</button>
        <button class="btn btn-button bg-primary" value="EDIT">EDIT</button>
        <button class="btn btn-button bg-danger" value="DELETE">DELETE</button>
      </div>
    </div>

    <div class="col-md-6">
      <h4 class="desc">Description</h4>
     <app-quote-form></app-quote-form>
    </div>
  </div>
</div>
