/* You can add global styles to this file, and also import other style files */

/* @import "~bootstrap/dist/css/bootstrap.css" */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-image: url("../src/assets/images/quote.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.navbar-brand{
    color: white;
    font-family: monospace;
    font-size: 30px;
    font-style: italic;

}
button{
    padding:10px;
}
title{
    font-family: monospace;
}